

* {
    box-sizing:unset;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://images.unsplash.com/photo-1483683804023-6ccdb62f86ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJvcGljYWwlMjBzdG9ybSUyMGxpbmt8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .search-box{
    width: 600px;
    height: 20px;
    /* display: flex;
    justify-content: center;
    align-items: flex-end; 
} */
.form-control,btn btn-danger{
    width: 600px;
    height: 20px;
}
.container {
    padding: 20px 40px;
    color: #fff;
}
.date{
    font-size: 25px;
}

.current-info {
    display:inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container {
    font-weight: 1300;
}

.date-container .time {
    font-size: 300px;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date {
    font-size: 90px;
}

.place-container {
    text-align:left;
}
/* 
.place-container .time-zone {
    font-size: 60px;
    font-weight: 400;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700; */
/* } */
.time{
    font-size: 30px;
}
.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid;
}

.current-info .others .weather-item {
    display: flex;
    justify-content:right;
}


.future-forecast {
    background: rgba(1, 3, 12, 0.8);
    padding: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:aqua;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-left: 20px;

}

.future-forecast .today {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 20px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 12px;
}

.current-info{
    margin-top: 20px;
}


@media only screen and (max-width:730px) {

    .container {
        padding: 20px;
    }

    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp {
        font-size: 16px;
    }

    .date-container .time {
        font-size: 5px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 30px;
    }

    .place-container {
        text-align: end;
        margin-top: 10px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .current-info .others {
        padding: 29px;
    }

    .current-info .others .weather-item {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1000px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x:unset;
    }
}